<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Login</h1>

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-12">
            <i class="fab fa-google mt-2"></i>
            <a href="/auth/google" role="button" class="btn btn-block btn-google">Sign In from Google
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>

  <%- include('partials/footer') %>